{% if items %}
<div class="subnav-wrapper">
	<ul class="subnav {% if menu.active_cssclass %}{{ menu.active_cssclass }}{% endif %}">
	{% for item in items %}
		<li>
			<a href="{{ item.link }}">
				{% if item.is_active %}<strong>{% endif %}{{ item.text }}{% if item.is_active %}</strong>{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>
	<div id="scoreboard-wrapper">
		<div id="scoreboard">
			<p class="title">Scoreboard</p>
			<ul>
				<li id="nfltrigger" class="first">
					NFL
					<div id="nfl" class="sportstats">
						<script language="JavaScript">
						var now = new Date();
							var nowSecs = now.getTime();
							document.write( '<scr'+'ipt language="javascript" SRC=" http://sports.washingtontimes.com/multisport/today.js.asp?sport=fb"> <\/scr'+'ipt>' );
						</script>
					</div>
				</li>
				<li id="mlbtrigger">
					MLB
					<div id="mlb" class="sportstats">
						<script language="JavaScript">
						var now = new Date();
							var nowSecs = now.getTime();
							document.write( '<scr'+'ipt language="javascript" SRC=" http://sports.washingtontimes.com/multisport/today.js.asp?sport=mlb"> <\/scr'+'ipt>' );
						</script>
					</div>
				</li>
				<li id="nbatrigger">
					NBA
					<div id="nba" class="sportstats">
						<script language="JavaScript">
						var now = new Date();
							var nowSecs = now.getTime();
							document.write( '<scr'+'ipt language="javascript" SRC=" http://sports.washingtontimes.com/multisport/today.js.asp?sport=nba"> <\/scr'+'ipt>' );
						</script>
					</div>
				</li>
				<li id="nhltrigger">
					NHL
					<div id="nhl" class="sportstats">
						<script language="JavaScript">
						var now = new Date();
							var nowSecs = now.getTime();
							document.write( '<scr'+'ipt language="javascript" SRC=" http://sports.washingtontimes.com/multisport/today.js.asp?sport=nhl"> <\/scr'+'ipt>' );
						</script>
					</div>
				</li>
				<li id="ncaatrigger">
					NCAA
					<div id="ncaa" class="sportstats">
						<script language="JavaScript">
						var now = new Date();
							var nowSecs = now.getTime();
							document.write( '<scr'+'ipt language="javascript" SRC=" http://sports.washingtontimes.com/multisport/today.js.asp?sport=cfb"> <\/scr'+'ipt>' );
						</script>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endif %}